@font-face {
	font-family: monocraft;
	src: url("Monocraft-no-ligatures.ttc") format("truetype");
}

.title {
	font-family: monocraft;
	color: white;
	background-color: #151b23;
	border-bottom: solid 10px;
	border-top: solid 10px;
	border-color: #006e32;
	height: 80px;
	width: 500px;
	/* border-radius: 25px; */
	align-content: center;
	box-shadow:
	/*-4px 0 0 -2px #006e32, 4px 0 0 -2px #006e32,*/
	-8px 0 0 -4px #006e32, 8px 0 0 -4px #006e32, 
	/*-12px 0 0 -6px #006e32, 12px 0 0 -6px #006e32,*/
	-16px 0 0 -8px #006e32, 16px 0 0 -8px #006e32, 
	/*-20px 0 0 -10px #006e32, 20px 0 0 -10px #006e32,*/ 
	-24px 0 0 -12px #006e32, 24px 0 0 -12px #006e32,
	 0px 0px 20px 20px rgba(0, 0, 0, 0.75);
}

.sombra{
	box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
}

.container {
	color: white;
	font-family: monocraft;
	width: fit-content;
	height: fit-content;
	border-bottom: solid 10px;
	border-top: solid 10px;
	border-color: #006e32;
	background-color: #0d1016;
	padding: 40px;
	/* border-radius: 25px;   */
	animation: fadeInLeftBig;
	animation-duration: 0.5s;
	
	box-shadow:
	/*-4px 0 0 -2px #006e32, 4px 0 0 -2px #006e32,*/
	-8px 0 0 -4px #006e32, 8px 0 0 -4px #006e32, 
	/*-12px 0 0 -6px #006e32, 12px 0 0 -6px #006e32,*/
	-16px 0 0 -8px #006e32, 16px 0 0 -8px #006e32, 
	/*-20px 0 0 -10px #006e32, 20px 0 0 -10px #006e32,*/ 
	-24px 0 0 -12px #006e32, 24px 0 0 -12px #006e32,
	 0px 0px 20px 20px rgba(0, 0, 0, 0.75);
	}
	
	.botao {
	border: solid 4px;
	border-color: #151b23;
	background-color: #151b23;
	color: #25a541;
	font-family: monocraft;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 60px;
	width: 150px;
	margin-top: 30px;
	/* border-radius: 20px; */
	font-size: 20px;
	transition: all 0.5s ease-in-out;
	
	box-shadow:
	/*-4px 0 0 -2px #006e32, 4px 0 0 -2px #006e32,*/
	-8px 0 0 -4px #151b23, 8px 0 0 -4px #151b23, 
	/*-12px 0 0 -6px #151b23, 12px 0 0 -6px #151b23,*/
	-16px 0 0 -8px #151b23, 16px 0 0 -8px #151b23, 
	/*-20px 0 0 -10px #151b23, 20px 0 0 -10px #151b23,*/ 
	-24px 0 0 -12px #151b23, 24px 0 0 -12px #151b23;
}

.botao:hover {
	height: 80px;
	width: 170px;
	/* opacity: 0.9; */
	background-color: #25a541;
	border-color: #25a541;
	color: #151b23;
	box-shadow:
	/*-4px 0 0 -2px #006e32, 4px 0 0 -2px #006e32,*/
	-8px 0 0 -4px #25a541, 8px 0 0 -4px #25a541, 
	/*-12px 0 0 -6px #25a541, 12px 0 0 -6px #25a541,*/
	-16px 0 0 -8px #25a541, 16px 0 0 -8px #25a541, 
	/*-20px 0 0 -10px #25a541, 20px 0 0 -10px #25a541,*/ 
	-24px 0 0 -12px #25a541, 24px 0 0 -12px #25a541;
}

.select {
	font-family: monocraft;
	border: solid 3px;
	border-color: #151b23;
	margin-top: 30px;
	margin-left: 15px;
	height: 30px;
	width: fit-content;
	outline: none;
	/* border-radius: 10px; */
	font-size: 15px;
	color: white;
	background-color: #151b23;
	box-shadow:
	/*-4px 0 0 -2px #006e32, 4px 0 0 -2px #006e32,*/
	-8px 0 0 -4px #151b23, 8px 0 0 -4px #151b23, 
	/*-12px 0 0 -6px #151b23, 12px 0 0 -6px #151b23,*/
	-16px 0 0 -8px #151b23, 16px 0 0 -8px #151b23;
}
.inp {
	font-family: monocraft;
	border: solid 3px;
	border-color: #151b23;
	margin-top: 30px;
	height: 23px;
	width: fit-content;
	outline: none;
	/* border-radius: 10px; */
	font-size: 15px;
	color: white;
	background-color: #151b23;
	box-shadow:
	/*-4px 0 0 -2px #006e32, 4px 0 0 -2px #006e32,*/
	-8px 0 0 -4px #151b23, 8px 0 0 -4px #151b23, 
	/*-12px 0 0 -6px #151b23, 12px 0 0 -6px #151b23,*/
	-16px 0 0 -8px #151b23, 16px 0 0 -8px #151b23;
}

.erro {
	background-color: #3d0000;
	color: red;
	font-size: large;
	box-shadow:
	/*-4px 0 0 -2px #006e32, 4px 0 0 -2px #006e32,*/
	-8px 0 0 -4px #3d0000, 8px 0 0 -4px #3d0000, 
	/*-12px 0 0 -6px #3d0000, 12px 0 0 -6px #3d0000,*/
	-16px 0 0 -8px #3d0000, 16px 0 0 -8px #3d0000;
}
